{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/modules/class/class.css" %}>
<script src={% static "main/modules/class/class.js" %}></script>

<div class="class_content main_interface">

    <div class="content_title">用户信息</div>

    <table class="class_content_table" cellspacing="0">
        <tr>
            <th>用户名</th>
            <td>{{ user.id }}</td>
            <th>登录身份</th>
            <td>{{ status_post }}</td>
        </tr>
    </table>


    <table class="class_content_table" cellspacing="0">
        <tr>
            <th>名称</th>
            <td>{{ class.name }}</td>
            <th>班主任编号</th>
            <td>{{ class.boss_id }}</td>
            <th>班主任姓名</th>
            <td>{{ class.boss_name }}</td>
            <th>班级总人数</th>
            <td>{{ class.sum }}</td>
            <th>所属年级</th>
            <td>{{ class.grade }}</td>
        </tr>
    </table>

    <div class="class_content_buttons">
        <div class="content_button" id="class_modify">修改
            <div class="content_button class_modify_menu">取消</div>
        </div>
        <div class="content_button" id="class_export">导出
            <div class="content_button class_export_menu" id="class_to_image">为图片</div>
            <div class="content_button class_export_menu" id="class_to_excel">为Excel</div>
            <div class="content_button class_export_menu" id="class_to_pdf">为PDF</div>
        </div>
    </div>

</div>