body{
    width: 1360px;
    height: 600px;
    margin: 0 auto;
    background: url('background.jpg') repeat-y fixed;
    background-size: 100%;
    font-family: 'Microsoft YaHei';
}

a,a:link,a:hover,a:visited {
    text-decoration: none;
    color: #333333;
}

.no_select{
    /*禁用双击选择文字 影响用户体验*/
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}