body{
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    background: url('background.jpg') no-repeat fixed;
    background-size: 100%;
    font-family: 'Microsoft YaHei';
}

a,a:link,a:hover,a:visited {
    text-decoration: none;
    color: #333333;
}