.content{
    width: 800px;
    height: 360px;
    margin: 150px auto 0;
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
}

.content_left{
    width: 349px;
    height: 360px;
    padding: 40px 0 0 150px;
    font-size: 48px;
    color: #333333;
    float: left;
}

.info_desc_title{
    color: #333333;
    font-size: 24px;
    margin-left: 50px;
}

.info_desc{
    color: #333333;
    font-size: 18px;
    margin-left: 50px;
}


.content_right{
    width: 300px;
    height: 360px;
    float: right;
}

.select_bar{
    width: 300px;
    height: 119px;
    color: #333333;
    font-size: 24px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}

.select_bar:hover{
    background-color: rgba(255,255,255,0.6);
}

#firstbar{
    border-radius: 0 15px 0 0;
    border-bottom: 1px solid #eeeeee
}

#lastbar{
    height: 120px;
    border-radius: 0 0 15px 0;
    border-top: 1px solid #eeeeee;
}