{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/modules/basic_info/basic_info.css" %}>
<script src={% static "main/modules/basic_info/basic_info.js" %}></script>

<div class="basic_info_content main_interface">

    <div class="basic_info_content_title">基本信息</div>

    <table class="basic_info_content_table" cellspacing="0">
        <tr>
            <th>姓名</th>
            <td>{{ user.name }}</td>
            <th>性别</th>
            <td>{{ user.sex | sex_translate }}</td>
            <th>身份</th>
            <td>{{ status_post }}</td>
            <th>用户名</th>
            <td>{{ user.username }}</td>
        </tr>

    </table>

    <table class="basic_info_content_table" cellspacing="0">
        <tr>


        </tr>
    </table>

</div>