.user_info_content{
    width: 950px;
    min-height: 600px;
    height: 100%;
}

.user_info_content_table{
    width: 750px;
    margin: 20px auto 0;
}

.user_info_content_table tr{
    width: 900px;
    height: 45px;
    line-height: 45px;
}

.user_info_content_table th{
    width: 250px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    cursor: default;
}

.user_info_content_table td{
    width: 500px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}

.user_info_content_buttons{
    width: 300px;
    margin: 50px auto 20px;
}

.user_info_export_menu{
    display: none;
}

.user_info_export_menu:hover{
    background-color: rgba(255,255,255,0.5);
}

.modify_area{
    height: 43px;
    padding: 0;
    font-size: 20px;
    border: none;
    background: rgba(255,255,255,0.9);
}