{% load staticfiles %}
{% load myfilters %}
<link rel="stylesheet" href={% static "main/modules/user_info/user_info.css" %}>
<script src={% static "main/modules/user_info/user_info.js" %}></script>

<div class="user_info_content main_interface">

    <div class="user_info_content_title">用户信息</div>

    <table class="user_info_content_table" cellspacing="0">
        <tr>
            <th>姓名</th>
            <td>{{ user.name }}</td>
            <th>性别</th>
            <td>{{ user.sex }}</td>
            <th>身份</th>
            <td>{{ status_post }}</td>
            <th>用户名</th>
            <td>{{ user.username }}</td>
        </tr>

    </table>

    <table class="user_info_content_table" cellspacing="0">
        <tr>
            <th>手机号</th>
            <td class="can_modify">{{ user.phone_number }}</td>
            <th>其他</th>
            <td class="can_modify">其他内容</td>
        </tr>
    </table>

    <div class="user_info_content_buttons">
        <div class="content_button" id="user_info_modify">修改</div>
        <div class="content_button" id="user_info_export">导出
            <div class="content_button user_info_export_menu" id="user_info_to_image">为图片</div>
            <div class="content_button user_info_export_menu" id="user_info_to_excel">为Excel</div>
            <div class="content_button user_info_export_menu" id="user_info_to_pdf">为PDF</div>
        </div>
    </div>

</div>