{% extends "base.html" %}
{% load staticfiles %}

{% block headmeta %}
    <link rel="stylesheet" href={% static "main/main.css" %}>
    <script src={% static "main/main.js" %}></script>
{% endblock %}

{% block base_content %}
<div class="top_bar">
    <div class="top_bar_center">
        <img id="logo_zzdx" src={% static "base/logo_zzdx.png" %}>
        <div class="logo_title">生命科学学院</div>
        <div class="logo_title">教师工作量统计系统</div>
    </div>
    <!--<div id="logout">[退出]</div>-->
</div>
<div class="content">
    <div class="content_left">
        {% block content_left %}

        {% endblock %}

        {% for t in src %}

        {% endfor %}
    </div>

    <div class="content_right">
        <!--这里根据点击不同标题展现不同内容-->
        {% block content_right %}{% endblock %}
    </div>
</div>
{% endblock %}