{% extends "main/main.html" %}

{% block content_left %}

    {% include "main/head_of_department/teacher_management/menu.html" %}

    {% include "main/head_of_department/workload_audit/menu.html" %}


{% endblock %}

{% block content_right %}

    {% include "main/head_of_department/teacher_management/teacher_management.html" %}

    {% include "main/head_of_department/workload_audit/theory_class/theory_class_audit.html" %}

    {% include "main/head_of_department/workload_audit/pratice_class/pratice_class_audit.html" %}

    {% include "main/head_of_department/workload_audit/teaching_achievement/teaching_achievement_audit.html" %}

    {% include "main/head_of_department/workload_audit/teaching_project/teaching_project_audit.html" %}


    {% include "main/head_of_department/workload_audit/competition_guide/competition_guide_audit.html" %}

    {% include "main/head_of_department/workload_audit/paper_guide/paper_guide_audit.html" %}




{% endblock %}