.paper_guide_audit_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.paper_guide_audit_table {
    width: 990px;
    margin: 30px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
}

.paper_guide_audit_table th {
    background: rgba(255, 255, 255, 0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: visible;
}

.paper_guide_audit_table td{
    max-width: 120px;
    height: 50px;
    line-height: 32px;
    font-size: 16px;
}

.paper_guide_audit_table button{
    font-size: 16px;
    cursor: pointer;
}