.teaching_achievement_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.teaching_achievement_item {
    width: 1000px;
    min-height: 180px;
    height: 100%;
}

.teaching_achievement_item_title {
    font-size: 24px;
    margin: 30px 0 10px 20px;
}

.teaching_achievement_item_table {
    width: 990px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
}

.teaching_achievement_item_table th {
    background: rgba(255, 255, 255, 0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: visible;
}

.teaching_achievement_item_table td{
    max-width: 120px;
    height: 50px;
    line-height: 32px;
    font-size: 16px;
}

.teaching_achievement_item_table img{
    height: 30px;
    width: 30px;
    margin: 0 5px;
    opacity: 0.75;
    cursor: pointer;
}

.teaching_achievement_item_table img:hover{
    opacity: 1;
}

.teaching_achievement_add_button{
    width: 990px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
}

.teaching_achievement_add_button:hover{
    background: rgba(255,255,255,0.7);
}

