{% extends "base.html" %}
{% load staticfiles %}

{% block headmeta %}
    <link rel="stylesheet" href={% static "index/index.css" %}>
    <script src={% static "index/index.js" %}></script>
{% endblock %}

{% block base_content %}
<div class="content">
    <div class="left">
        <img id="logo_zzdx" src={% static "base/logo_zzdx.png" %}>
        <div class="logo_title">生命科学学院</div>
        <div class="logo_title">教师工作量统计系统</div>
        <!--<div id="developer">郑州大学生命科学学院提供技术支持</div>-->
    </div>
    <div class="right">
        <div class="right_content">
            <form id="login_form" action="/main" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="input_row">
                    <div class="input_title">账号</div>
                    <input id="username" name="username" autofocus>
                </div>

                <div class="input_row">
                    <div class="input_title">密码</div>
                    <input id="password" name="password" type="password" autocomplete="off">
                </div>

                <div class="input_row">
                    <div class="input_title">身份</div>
                    <select id="status" name="status">
                        <option value="教师" selected>教师</option>
                        <option value="系负责人">系负责人</option>
                        <option value="教务员">教务员</option>
                        <option value="系统管理员">系统管理员</option>
                    </select>
                </div>

                <div class="input_row">
                    <div class="input_title">验证码</div>
                    <input id="captcha" title="captcha" autocomplete="off">
                    <div id="captcha_img" ondragstart="return false" oncontextmenu="return false"></div>
                    <div id="warnings"></div>
                </div>

                <button id="login" type="button">登录</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block base_footer %}
    <script src={% static "base/md5.js" %}></script>
{% endblock %}