{% extends "base.html" %}
{% load staticfiles %}

{% block headmeta %}
    <link rel="stylesheet" href={% static "base/loginfailed.css" %}>
{% endblock %}

{% block base_content %}
<div class="content">

    <div class="content_left">
        <div class="info_title">登录失败！</div>
        <p class="info_desc_title">可能原因：</p>
        <p class="info_desc">1. 用户名错误</p>
        <p class="info_desc">2. 密码错误</p>
        <p class="info_desc">3. 身份选择错误</p>
    </div>

    <div class="content_right">
        <a href="/"><div class="select_bar" id="firstbar">返回登录界面</div></a>
        <a href="/"><div class="select_bar">邮箱找回密码</div></a>
        <a href="/"><div class="select_bar" id="lastbar">联系管理员</div></a>
{#TODO:#}
    </div>
</div>
{% endblock %}