body{
    width: 1360px;
    margin: 0 auto;
    background: url('../base/background.jpg') no-repeat fixed;
    background-size: 100%;
    font-family: 'Microsoft YaHei';
}

.top_bar{
    width: 100%;
    height: 70px;
    user-select: none;
    background-color: rgba(255,255,255,0.3);
    cursor: default;
    position: absolute;
    left: 0;
}

.top_bar_center{
    width: 820px;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
}

/*#logout{*/
    /*color: #333333;*/
    /*font-size: 18px;*/
    /*margin: 24px 50px;*/
    /*cursor: pointer;*/
    /*float: right;*/
/*}*/

#logo_zzdx{
    height: 50px;
    margin: 10px 20px;
    float: left;
}

.logo_title{
    margin: 0 5px;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px gray;
    float: left;
}

.content{
    width: 1360px;
    min-height: 750px;
    margin: 100px auto 0;
    background-color: rgba(255,255,255,0.2);
    /*border-radius: 5px;*/
    float: left;
}

.content_left{
    width: 280px;
    min-height: 730px;
    background-color: rgba(255,255,255,0.2);
    /*border-radius: 5px 0 0 5px;*/
    padding: 0 0 20px 0;
    float: left;
}

.left_unit{
    width: 280px;
    min-height: 50px;
    margin: 20px 0 0 0;
    float: right;
}

.unit_title{
    width: 250px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    background-color: rgba(255,255,255,0.5);
    /*border-radius: 5px 0 0 5px;*/
    user-select: none;
    z-index: 999;
    float: right;
    cursor: pointer;
}

.unit_title:hover{
    background-color: rgba(255,255,255,0.8);
    font-size: 25px;
}

.unit_options{
    width: 200px;
    margin: 0 20px 0 0;
    user-select: none;
    display: none;
    float: right;
}

.unit_detail{
    width: 200px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #333333;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

.unit_detail:hover{
    background-color: rgba(255,255,255,0.7);
    font-size: 20px;
}

.content_right{
    width: 1040px;
    min-height: 750px;
    height: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 0 8px;
    background-color: rgba(255,255,255,0.3);
    /*border-radius: 0 5px 5px 0;*/
    position: relative;
    float: right;
}

#message{
    width: 200px;
    height: 35px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    background-color: rgba(255,255,255,0.3);
    display: none;
}

.main_interface{
    display: none;
    margin: 20px auto;
    padding: 0 20px;
}

.popup{
    display: none;
}

.content_title{
    width: 900px;
    margin: 30px auto 0;
    font-size: 32px;
    text-align: center;
}

.content_button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
    float: left;
}

.content_button:hover{
    background-color: rgba(255,255,255,0.6);
}

#request_form{
    display: none;
}

select{
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 0;
}