.pratice_class_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.pratice_class_search_bar {
    width: 975px;
    height: 50px;
    margin: 25px 0;
    padding: 0 0 0 15px;
    font-size: 20px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.pratice_class_search_bar_item {
    float: left;
    margin: 0 12px;
}

#pratice_class_search_button {
    width: 100px;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    float: right;
    cursor: pointer;
}

#pratice_class_search_button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.pratice_class_table {
    width: 990px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
}

.pratice_class_table th {
    background: rgba(255, 255, 255, 0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: hidden;
}

.pratice_class_table td {
    max-width: 120px;
    height: 80px;
    line-height: 32px;
    font-size: 16px;
}

.pratice_class_content img {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    opacity: 0.75;
    cursor: pointer;
}

.pratice_class_content img:hover {
    opacity: 1;
}

.even {
    background: rgba(255, 255, 255, 0.15);
}

.pratice_class_add_button {
    width: 990px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.pratice_class_add_button:hover {
    background: rgba(255, 255, 255, 0.7);
}