.pratice_class_add{
    width: 800px;
    height: 480px;
    padding: 0 50px;
    font-size: 22px;
    line-height: 30px;
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 90px;
    left: 75px;
}

.pratice_class_add_title{
    width: 700px;
    margin: 25px auto 40px;
    font-size: 30px;
    text-align: center;
}

.pratice_class_add_cross{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.pratice_class_add_cross img{
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: 0.6;
}

.pratice_class_add_cross img:hover{
    opacity: 1;
}

.pratice_class_add select{
    width: 180px;
    margin: 0 100px 30px 10px;
}

.pratice_class_add input{
    height: 26px;
    margin: 0 30px 0 0;
    border: none;
}

#pratice_class_add_class_name{
    width: 240px;
}

#pratice_class_add_class_attr{
    width: 100px;
}

#pratice_class_add_class_period{
    margin: 0 170px 0 0;
}

#pratice_class_add_class_credit{

}

.pratice_class_add_buttons_area{
    width: 350px;
    height: 40px;
    margin: 80px auto 50px;
}

.pratice_class_add_buttons{
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: rgb(255,255,255);
    cursor: pointer;
    text-align: center;
    border: 1px rgb(100,100,100);
}

#pratice_class_add_submit{
    float: left;
}

#pratice_class_add_cancel{
    float: right;
}