.theory_class_audit_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.theory_class_audit_search_bar {
    width: 550px;
    height: 50px;
    margin: 25px auto;
    padding: 0 0 0 15px;
    font-size: 20px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.theory_class_audit_search_bar_item {
    float: left;
    margin: 0 12px;
}

#theory_class_audit_search_button {
    width: 100px;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    float: right;
    cursor: pointer;
}

#theory_class_audit_search_button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.theory_class_audit_table {
    width: 990px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
}

.theory_class_audit_table th {
    background: rgba(255, 255, 255, 0.6);
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    overflow: hidden;
}

.theory_class_audit_table td {
    max-width: 120px;
    height: 80px;
    line-height: 32px;
    font-size: 16px;
}

.theory_class_audit_table button {
    font-size: 16px;
    cursor: pointer;
}

.even {
    background: rgba(255, 255, 255, 0.18);
}