.workload_count_content {
    width: 1030px;
    min-height: 600px;
    height: 100%;
}

.workload_count_search_bar {
    width: 560px;
    height: 50px;
    margin: 25px auto 35px;
    padding: 0 0 0 15px;
    font-size: 20px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.workload_count_search_bar_item {
    float: left;
    margin: 0 12px;
}

#workload_count_search_button {
    width: 100px;
    height: 50px;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    float: right;
    cursor: pointer;
}

#workload_count_search_button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.workload_count_item {
    width: 900px;
    margin: 0 auto 35px;
    text-align: center;
}

.workload_count_item_title {
    width: 180px;
    font-size: 26px;
    color: #444444;
    background: rgba(255, 255, 255, 0.8);
    float: left;
}

.workload_count_table {
    width: 700px;
    font-size: 20px;
    line-height: 72px;
}

.workload_count_table_margin {
    height: 12px;
}

.workload_count_table th {
    width: 300px;
    background: rgba(255, 255, 255, 0.6);
}

.workload_count_table td {
    width: 600px;
    background: rgba(255, 255, 255, 0.4);
}

#workload_count_item_title_teaching {
    height: 240px;
    line-height: 240px;
}

#workload_count_item_title_research {
    height: 408px;
    line-height: 408px;
}
