{% extends "main/main.html" %}
{% block content_left %}

    {% include "main/teacher/user_info/menu.html" %}

    {% include "main/teacher/workload_input/menu.html" %}

    {% include "main/teacher/workload_count/menu.html" %}

{% endblock %}

{% block content_right %}

    {% include "main/teacher/user_info/user_info.html" %}

    {% include "main/teacher/workload_input/theory_class/theory_class.html" %}

    {% include "main/teacher/workload_input/pratice_class/pratice_class.html" %}

    {% include "main/teacher/workload_input/teching_achievement/teaching_achievement.html" %}

    {% include "main/teacher/workload_input/teaching_project/teaching_project.html" %}

    {% include "main/teacher/workload_input/competition_guide/competition_guide.html" %}

    {% include "main/teacher/workload_input/paper_guide/paper_guide.html" %}

    {% include "main/teacher/workload_count/workload_count.html" %}

{% endblock %}