.basic_info_content{
    width: 950px;
    min-height: 600px;
    height: 100%;
    display: none;
}

.basic_info_content_title{
    width: 900px;
    margin: 20px auto 0;
    font-size: 28px;
    text-align: center;
}

.basic_info_content_table{
    width: 900px;
    margin: 20px auto 0;
}

.basic_info_content_table tr{
    height: 50px;
}

.basic_info_content_table th{
    width: auto;
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
}

.basic_info_content_table td{
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}
